  <style>
body {
  background-image: url('https://cdn.wallpapersafari.com/82/91/NYsQzc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    <body> 
    
    <div class="content" >
        <div style="text-align: center">
        <h1>IP Geolocation Project</h1>
        <p>Author: Luke McCutcheon</p>
        <p><a href="mailto:lmccutcheon@ryerson.ca">lmccutcheon@ryerson.ca</a></p>
        </div>
        <p>IP Geolocation performs a reverse lookup for your location from an IP address. Once we determine your IP we present your location on a map. To utilize our service you will need to register or login if you have already registered. Hope you enjoy!
        </p>
        <div style="text-align: center">
        <button><a href="/register">Register</a></button>
        <button><a href="/login">Login</a></button>
        </div>
    </div>
    
    </body>
    
