<style>
  body {
    background-image: url('https://www.avantixlearning.ca/wp-content/uploads/2020/08/stop-words-splitting-at-the-end-of-a-line-1080x675.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  </style>
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    <body> 
    
    <div class="content" >
      <div style="text-align: center">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input type="text" name="username"
          placeholder="email">
        <input type="password" name="password"
          placeholder="password">
        <button>login</button>
      </form>
      <button><a href="/register">Haven't Registed? Sign up Here</a></button>
      </div>
    </div>
    
    </body>
