<style>
  body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeaRkrZv1oyBsh7Xe6oMuDlOCqChTBx8wjXA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    <body> 
    
    <div class="content" >
      <div style="text-align: center">
          <h1> Register</h1>
          <form action="/register" method="POST">
          <label for="user">Email: </label>
          <input type="email" name="username" id="user">
            <pattern=".+@globex\.com" size="30" required>
          <label for="pass">Password:</label>
          <input type="password" id="pass" name="password"
            minlength="8" required>
                    <button>Submit</button>
                </form>
                <button><a href="/login">Already Registered? Login Here</a></button>
      </div>
    </div>
    
    </body>
