<style>
	body {
	  background-image: url('https://cdn.wallpapersafari.com/82/91/NYsQzc.jpg');
	  background-repeat: no-repeat;
	}
	</style>
	<style>
		.content {
		  max-width: 500px;
		  margin: auto;
		}
		</style>
		<body> 
		
		<div class="content" >
			<div style="text-align: center">
                <h1> Register</h1>
 
                <form action="/register" method="POST">
                    <input type="text" name="username"
                        placeholder="username">
                    <input type="password" name="password"
                        placeholder="password">
                    <button>Submit</button>
                </form>
                <button><a href="/login">Already Registered? Login Here</a></button>
			</div>
		</div>
		
		</body>
		